.button-to-link {
  border: none;
  background-color: inherit;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: underline;
}

.button-sign-out {
  position: absolute;
  right: 1rem;
}

.recipes {
  display: flex;
  border: 1px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.recipe-info {
  margin-right: 1rem;
}

.button {
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}